@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700');

.chat .messages{
    border: 1px solid;
    width: 800px;
    height: 250px;
    padding: 10px;
    overflow-y: scroll;
}
.chat .message a{
    color:slategray;

}

.chat .message p{
    margin: 5px 0; 
}
.chat .entry{
    width: 260px;
    height: 40px;
    padding: 5px;
    margin-top: 5px;
    font:1em Arial;
}

.outgoing_msg p {
    background: #fbfbfb none repeat scroll 0 0;
    border-radius: 3px;
    font-size: 14px;
    margin: 0; 
    padding: 20px;
    width:100%;
    margin: 5px;
    color: #000;
}

